* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
 background-color:#93bedf;
}

footer {
    background-color: #93bedf;
    padding: 1rem;
    width:100%;
}
.redes {
    text-align: center;
    font-style: normal;
    font-size: 1.5rem;
   
    list-style-type: none;
   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;

    align-items: baseline;
    align-content: center;

    justify-content:center;
    padding: 1rem;


}
.texto-pie {
    list-style-type: none;
    font-style: normal;
    font-size: 0.8rem ;
    font-family: 'Belanosima';
    text-align: center;
}

.inicio {
    list-style: none;
    font-size: 2rem;
    font-family: 'Belanosima';
    font-style:normal;
    text-decoration: none;
   
    display:grid;
    height: 100vh;
    width: 100%;
    
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr 1.5fr;

    grid-template-areas: 
    "quien productos servicios     contacto"
    "imagen-inicio imagen-inicio      imagen-inicio imagen-inicio ";
    

}
.imagen-inicio {
    display: grid;
    background-image: url(../img/pizza-inicio.jpeg);
    background-position: center;
    background-size: cover;
    opacity: 95%;
    
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(6, 2, 56);
    margin: 5px;

    grid-area: imagen-inicio;
}

.logo {
    display: grid;
    background-image: url(./img/Logo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 50%;
    
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(6, 2, 56);

    grid-area: logo;
}

.quien {
    display: grid;
    background-color:#93bedf;
    justify-content: center;
    align-items: center;

    transition: 0.75s;

    grid-area: quien;
}

.productos {
    display: grid;
    background-color:#997efc;
    justify-content: center;
    align-items: center;

    transition: 0.75s;



    grid-area: productos;
}

.servicios {
    display: grid;
    background-color:#93bedf;
    justify-content: center;
    align-items: center;

    transition: 0.75s;


    grid-area:servicios;
 
}

.contacto {
    display: grid;
    background-color:#997efc;
    justify-content:center;
    align-items:center;

    transition: 0.75s;

    grid-area:contacto;
   
}
.contacto:hover {
    background-color: #93bedf;
    font-size: 4rem;
    border: 8px solid #997efc;
   
}
.servicios:hover { background-color:#997efc;
    font-size: 4rem;
    border: 8px solid #93bedf;
}

.productos:hover { background-color: #93bedf;
    font-size: 4rem;
    border: 8px solid #997efc;
}

.quien:hover{ background-color:#997efc;
    font-size: 4rem;
    border: 8px solid #93bedf;
}


.navbar{
    height: 175px;
    font-style: 'Belanosima';
    font-size: 2rem;
     
}

.contenido__quien{
    list-style: none;
    padding: 1rem;
    margin-bottom: unset;
    gap: 1rem;

    font-family: 'Belanosima';
    font-style:normal;
    text-decoration: none;
   
    background-color: #93bedf;
    display:grid;
    min-height: 100vh;
    min-width:100%;
    
    
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr 1fr;

    grid-template-areas: 
    "imagen-quien texto__quien"
    "imagen-quien texto__quien ";
}
.imagen__quien{
    display: grid;
    background-image:url(../img/imagenQuien.jpeg);
    background-position:bottom;
    
   
    transition: 0.75s;

    grid-area:imagen-quien;}
    
.texto__quien {
    display:grid;
    text-align: center;
    justify-content:center;
    font-size: 1rem;
    
    grid-area:texto__quien;
}

 @media screen and (max-width:1000px) {
    .inicio {
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr 1fr;

    grid-template-areas: 
    "quien        productos"
    "servicios     contacto "; }
    
    .contenido__quien {
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 1fr 1fr 1fr 1fr ;
    
        grid-template-areas: 
        "texto__quien texto__quien"
        "texto__quien texto__quien"
        "imagen-quien imagen-quien"
        "imagen-quien imagen-quien";}
       
 }

@media screen and (max-width:600px) {
    .inicio {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

    grid-template-areas: 
    "quien"
    "productos"
    "servicios"
    "contacto"; 
  
}
.contenido__quien {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr ;

    grid-template-areas: 
    "texto__quien "
    "texto__quien "
    "imagen-quien "
    "imagen-quien ";}
}
